$line-height: 140%;
$letter-spacing: 0.02em;
$font-size: 1rem;

.products__card {
  width: calc(25% - 36px);
  min-height: 352px;
  margin-bottom: 40px;
}

@media (max-width: 1450px) {
  .products__card {
    width: calc(33.33% - 32px);
  }
}

@media (max-width: 1100px) {
  .products__card {
    width: calc(50% - 24px);
  }
}

@media (max-width: 700px) {
  .products__card {
    width: 100%;
  }
}

.product {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  font-family: "SF UI Text", sans-serif;
  padding: 9px 12px;
}

.product__sale-label {
  position: absolute;
  left: 0px;
  top: 8px;
  box-sizing: border-box;
  padding: 3px 18px;
  background: #eb5757;
  color: #ffff;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  line-height: 18px;
  font-size: 0.87rem;
  letter-spacing: 0.01em;
  text-align: center;
}

.product__image {
  width: 238px;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.product__info {
  display: flex;
  flex-direction: column;
}

.product__code {
  color: #888888;
  font-size: 0.625rem;
  line-height: 14px;
  letter-spacing: $letter-spacing;
}

.product__name {
  color: #000000;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  font-weight: 500;
  margin-top: 5.8px;
}

.product__prices {
  display: flex;
}

.product__old-price {
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  text-decoration-line: line-through;
  color: #888888;
  margin-right: 3px;
}

.product__current-price {
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

.product__inner {
  display: flex;
  justify-content: space-between;
}

.product__actions {
  align-self: flex-end;
  flex-shrink: 0;
}

.button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.chart {
  margin-right: 28px;

}
