.main-title {
  font-family: "SF Pro Display", sans-serif;
  font-size: 2.25rem;
  line-height: 133%;
  color: #000000;
  font-weight: 600;
  font-feature-settings: "ss04" on;
}

.selects {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  margin-bottom: 41px;
  flex-wrap: wrap;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
